@tailwind base;
@tailwind components;
@tailwind utilities;



/* Zoom-in/out effect */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply to images */
.carousel-image {
  animation: zoomInOut 10s infinite ease-in-out;
}
